@import url("reset.css");

/* Фарбуємо: */

/* Всі посилання всередині .nav-list) */
.nav-list a {
   color: blue;
}

a {
   text-decoration: none;
}

/* Всі <mark> */
mark {
   color: green;
}

/* Заголовки */
h1 {
   color: rgb(255, 0, 200);
}
h2 {
   color: red;
}
h3 {
   color: rgb(0, 145, 150);
}
h4 {
   color: rgb(175, 2, 255);
}

/* Всі елементи які містять в назві класу "container" всередині .figures */
.figures [class*="container"] {
   color: #000;
}

/* Параграфи які знаходяться безпосередньо після <ol> на одному рівні вкладеності*/
ol + p {
   color: rgb(250, 101, 2);
}

/* Всі <span> всередині маркованого списку з класом context-shvchenko-text всередині #context */
#context ul.context-shvchenko-text span {
   color: rgb(180, 0, 0);
}

/* Всі <span> всередині #context */
#context span {
   color: red;
}

/* За назвою класу .span */
.span {
   color: yellowgreen;
}

/* Всі параграфи які знаходяться після .legacy-content-list на одному рівні вкладеності */
.legacy-content-list ~ p {
   color: blueviolet;
}

/* Всі посилання які йдуть після посилань на одному рівні вкладеності */
a ~ a {
   color: #f00;
}

/* Всі об'єкти всередині .libraries-content-list який знаходиться в .libraries-content*/
.libraries-content .libraries-content-list {
   color: rgb(194, 174, 0);
}

/* Всі параграфи які знаходяться після .world-recognition-content на одному рівні вкладеності */
.world-recognition-content > p {
   color: brown;
}

/* Тільки класи, які містять подвійну назву .contacts-list-link та .link */
.contacts-list-link.link {
   color: rgb(3, 182, 122);
}

/* Всі об'єкти в середині <ul> та <ol> */
ul, ol * {
   color: #000;
   /* Для естетики=) */
}
